{% load static %}


<footer class="text-center text-lg-start footer" style="margin-top: 5%;">
    <div class="d-flex justify-content-between align-items-center p-3">
        <img src="{% static 'img/logohoja.png' %}" alt="" width="70px">        
       
        <div class="text-center" style="font-family: 'Times New Roman', Times, serif; font-size: 20px; color: black;">
            © 2025 by Sistema Alimentador Oriental SAS | Todos los derechos reservados <br>
        </div>
      
        <img src="{% static 'img/bus.png' %}" alt="" width="70px">
    </div>  
</footer>
